@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====================================
   GLOBAL SMOOTH SCROLL
   ==================================== */
html, body {

ion-content {
  --background: #111827 !important;
  background: #111827 !important;
}
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  scroll-behavior: smooth;
}

ion-content::part(scroll) {
  scroll-behavior: smooth;
}

